# Ignore everything by default
*

# Allow this file
!.gitignore

# Allow resource packs folder, and specifically GoobliDeco-RP
!development_resource_packs/
!development_resource_packs/GoobliDeco-RP/**
!development_resource_packs/GoobliDeco-RP/

# Allow behavior packs folder, and specifically GoobliDeco-BP
!development_behavior_packs/
!development_behavior_packs/GoobliDeco-BP/**
!development_behavior_packs/GoobliDeco-BP/
